<form class="form-inline" (ngSubmit)="buscar($event)" >
  <div class="form-group">
    <input type="text" class="form-control mr-2 " [(ngModel)]="terminoBusqueda" name="terminoBusqueda" style="font-size: 1.5rem;" required>
  <button type="submit" class="btn btn-primary" style="font-size: 1.5rem;" >Buscar</button>
  </div>
</form>   
<div *ngIf="resultados.length > 0" class="my-4">
  <h2 class="mb-3">Resultados de la búsqueda:</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let resultado of resultados">
      <a [routerLink]="['/pelicula', resultado.id]">{{ resultado.titulo }}</a>
    </li>
  </ul>
</div>
